In [2]:
import mysql.connector
import random
from dotenv import load_dotenv
import os

In [ ]:
# interessante para saber: criação de senha aleatória
#all_characters = string.ascii_letters + string.digits 
#password = ''.join(random.choices(all_characters, k=length))
#+ string.punctuation

In [7]:
load_dotenv()


conexao = mysql.connector.connect(
    host = os.getenv("FLASK_DB_HOST"),
    user = os.getenv("FLASK_DB_USER"),
    password = os.getenv("FLASK_DB_PASSWORD"),
    database = os.getenv("FLASK_DB_NAME"),
    port = os.getenv("FLASK_DB_PORT"),
    ssl_disabled=True
)

In [ ]:
def fazer_query(query):
    cursor = conexao.cursor()
    cursor.execute(query)
    conexao.commit()
    cursor.close()

NÃO RODAR AS CÉLULAS NOVAMENTE

In [4]:
# Fazendo backup de emprestimos

queries = [
'CREATE TABLE emprestimos_backup AS SELECT * FROM emprestimos',
'DROP TABLE emprestimos;'
] #seria bom para caso tivesse dados em emprestimos, mas como não tem, não é necessário

for query in queries:
    cursor = conexao.cursor()
    cursor.execute(query)
conexao.commit()
cursor.close()
print("Backup de emprestimos feito com sucesso")

Backup de emprestimos feito com sucesso

In [7]:
#alterando matricula

query = 'ALTER TABLE alunos MODIFY COLUMN matricula VARCHAR(9) NOT NULL;'
cursor = conexao.cursor()
cursor.execute(query)
conexao.commit()
cursor.close()
print("Alteração de matricula feita com sucesso")

Alteração de matricula feita com sucesso

In [5]:
# recriando emprestimos

query = '''CREATE TABLE emprestimos(
    id_emprestimo INT NOT NULL PRIMARY KEY,
    id_aluno VARCHAR(9) NOT NULL,
    id_livro INT NOT NULL,
    data_emprestimo DATE NOT NULL,
    data_prevista_devolucao DATE NOT NULL,
    data_real_devolucao DATE DEFAULT NULL,
    status ENUM('emprestado', 'devolvido', 'em atraso') DEFAULT 'emprestado',
    multa DECIMAL(5,2) DEFAULT NULL,
    FOREIGN KEY (id_aluno) REFERENCES alunos(matricula),
    FOREIGN KEY (id_livro) REFERENCES livros(id_livro))'''
cursor = conexao.cursor()
cursor.execute(query)
conexao.commit()
cursor.close()
print("Tabela emprestimos recriada com sucesso")

Tabela emprestimos recriada com sucesso

In [8]:
cursor = conexao.cursor()
cursor.execute('ALTER TABLE emprestimos MODIFY COLUMN multa DECIMAL(5,2) DEFAULT 0.00;')
conexao.commit()
cursor.close()

True